.video-js .vjs-volume-control .vjs-volume-bar {
    color: #000 !important;
    background-color: #000 !important;
}

.video-js {
    height: 100%;
}

.video-js >* {
    color: #000 !important;
}

 .video-js #icon{
    color: #E9E9E9;
 }

/* 修改进度条（滑块本身）颜色 */
.video-js .vjs-progress-control .vjs-progress-value {
    color: #000 !important;
    background-color: #000 !important;
}

/* 修改进度条背景 */
.video-js .vjs-progress-control .vjs-progress-holder {
    color: #000 !important;
    background-color: #000 !important;
}

/* 修改音量按钮和音量滑块 */
.video-js .vjs-volume-control .vjs-volume-bar .vjs-volume-value {
    color: #000 !important;
    background-color: #000 !important;
}
