*,
::before,
::after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.editorWrapper :global .ant-menu-item-selected {
  width: 48px !important;
  line-height: 48px !important;
  background-color: #ffffff !important; /* 背景色为白色 */
  border-radius: 8px !important; /* 设置圆角大小，例如 8px */
}
.editorWrapper :global .ant-menu-inline > .ant-menu-item {
  height: 48px !important;
  line-height: 48px !important;
  margin: 0 !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
}

/* 折叠状态：选中项背景透明 */
.editorWrapper :global .ant-menu-inline-collapsed .ant-menu-item-selected {
  background-color: transparent !important;
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

:global(.rename-project-modal .ant-modal-container) {
  padding: 16px!important;
  border-radius: 8px !important;
}
