/* ✅ 保证 Modal 居中、去除动画源 */
.confirmWrapper :global(.ant-modal) {
  transform-origin: center center !important; /* 或 unset，看是否还需动画 */
}

:global(.copy-project-modal .ant-modal-container) {
  padding: 16px!important;
  border-radius: 8px !important;
}
:global(.rename-project-modal .ant-modal-container) {
  padding: 16px!important;
  border-radius: 8px !important;
}
:global(.del-project-modal .ant-modal-container) {
  padding: 16px!important;
  border-radius: 8px !important;
}

/* 内容区域 padding 0 */
.confirmWrapper :global .copy-project-modal-content,
.confirmWrapper :global .rename-project-modal-content,
.confirmWrapper :global .delete-project-modal-content {
  padding: 0 !important;
}

/* 关闭按钮悬停样式 */
.confirmWrapper :global .copy-project-modal .ant-modal-close:hover,
.confirmWrapper :global .rename-project-modal .ant-modal-close:hover,
.confirmWrapper :global .delete-project-modal .ant-modal-close:hover {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  background: transparent !important;
}

/* Dropdown 菜单项悬停高亮 */
:global .project-items-dropdown .ant-dropdown-menu {
  padding: 8px !important; /* 自定义内边距 */
  border-radius: 5px !important;
  border: 1px solid #e9e9e9 !important;
}
:global .project-items-dropdown .ant-dropdown-menu-item {
  padding: 0px !important; /* 自定义内边距 */
}